html,
body {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Uber";
  src: url('../assets/fonts/SFPRODISPLAYMEDIUM.OTF');
}



a {
  color: inherit;
  text-decoration: none;
}

h1,
h2 {
  font-family: "Uber";
}

* {
  box-sizing: border-box;
  font-family: "Uber";
  font-weight: bold !important;
}

#hero {
  background: url(../assets/images/home-hero-gradient.svg) no-repeat center;
  background-size: cover;
}



#stats {
  background: url(../assets/images/banner-bg.svg) no-repeat center;
  background-size: cover;
  background-color: rgb(18, 29, 51);
}

#about{
  background: url(../assets/images/about-hero-bg.svg) no-repeat right;
  background-size: contain;
  background-color: rgb(18, 29, 51);
}